body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jobcards{
 
  display: flex;
  width: 90%;
  margin:auto;
  flex-wrap: wrap;
  margin-top:20px;
  align-items: center;
  box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: 5px;
}
.jobcardcontainer{
  margin-top: 10px;
  height: 62vh;
  overflow-y: scroll;
}

.jobs{
  width:100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}

.jobs img{
  height: 80px;
  width: 80px;
  object-fit: contain;
  
}

.part{
  width: 20%;
  text-align: center;
}

.searchbar{
  display: flex;
  justify-content: space-around;
  width:95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: sticky;
 
}

.main{
  width:85%;
  margin: auto;
  margin-top: 40px;
  background-color: #FBFBFB;
}

.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.75);
  
  
}

.nav img{
  height:50px;
  width:100px;
}

.tabs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}



.nav-right{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-right img{
  height:50px;
  width: 50px;
}

.active{
  border-bottom: 2px solid black;
}

.heading{
  font-size: 16px;
  font-weight: 500;
}

.footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #293277;
  color: white;
  box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.75);
  font-size: 14px;
}

.leftpart{
  margin-left: 25px;
}
.rightPart{
  margin-right: 25px;
}